[mysqld]
# Charset universal
character-set-server  = utf8mb4
collation-server      = utf8mb4_unicode_ci

# Optimización para instancias pequeñas (t2.micro / t3.micro)
innodb_buffer_pool_size = 128M
max_connections         = 100

# Logs
slow_query_log          = 1
slow_query_log_file     = /var/log/mysql/slow.log
long_query_time         = 2

# Seguridad: solo acepta conexiones desde la red privada
# (En AWS el Security Group ya lo restringe, pero es doble seguro)
bind-address            = 0.0.0.0

[client]
default-character-set   = utf8mb4
